section {
  padding: 20px;
}

.hero--container {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--paragraph {
  margin-top: 0;
}